GOOGLE_CLOUD_PROJECT=your-gcp-project-id
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_API_KEY=your-gemini-api-key
MONGODB_URI=mongodb+srv://user:password@cluster.mongodb.net/hireintos
MONGODB_DATABASE=hireintos
